.body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction:column-reverse;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0; 
    font-family: Arial, sans-serif;
}

canvas {
    background-color: white;
    border: 1px solid #000;
}